* {
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    width: 100%;
    display: flex; /*makes it easy to align content*/
    flex-direction: column; /*automatically centres everything once as its all in a column*/
}

#title {
    text-align: center;
    color:#7b3a2b;
    font-family: afterglow;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#world50heading{
    color:#7b3a2b;
    font-family: afterglow;
    font-size: 25px;
    margin-top: 22px;

}

#michelinheading{
    color:#7b3a2b;
    font-family: afterglow;
    font-size: 50px;
    text-align: center;
    margin-top:15px
}

.sub-heading{
    color: #8286c5;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10;
    margin-left: 0;
    font-family: afterglow;
}

.maps {
    margin: 0 auto;
}

.section {
    background-color: #f6e1cb;
    width: 80%;
    display: flex;
    flex-direction:column;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom:20px;
}

#background {
    background-color:#ffefe4;
}

.sub-box{
    background-color:#c6d0f5;
    align-items: center;
    margin: 15px;
    padding: 15px;
}
@font-face {
    font-family: afterglow;
    src: url("Afterglow-Regular.ttf");
}
.chartTitle{
    color: #8286c5;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight:bold;
    
}
.chartTitleLeft{
    color: #8286c5;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight:bold;
    
}

.bestWorld{
    color: #8286c5;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 40px;
    font-family: afterglow;
}

.cropImage{
    height:250px;
    width: 2500px;
    margin: 10px -500px -500px -210px;
}
.annotation{
    color: #8286c5;
    font-size: 20px;
}

.arrow{
    margin: -100px 100px 10px 0px;
}

.hint{
    color: #8286c5;
    font-size: 20px;
}

.text-box{
    background-color: #dbdcfc;
    padding: 20px;
}

.txtbox-title{
    color: #8286c5;
    font-size: 18px;
    font-weight: bold;
}
.txtbox-text{
    color: #8286c5;
    font-size: 18px;
}
.text{
    color:#7b3a2b;
}

.highlight{
    color:#7b3a2b;
    font-weight: bold;
}
.txtbox-highlight {
    color: #8286c5;
    font-size: 18px;
    font-weight: bold;
}